/* Custom CSS for PDF generation */
@media print {
  .main-menu {
    display: none;
  }

  #the-top {
    display: none;
  }

  #remove-from-pdf {
    display: none;
  }

  .prose h2 {
    margin-top: 1em;
  }

  @page {
    size: a4 portrait;
    margin: 10mm;
  }
}
