<table>
  <tr>
    <th style="width:40%">GitLab value</th>
    <th style="width:60%">Includes</th>
  </tr>
  {{ range $.Site.Data.favorite_gitlab_values }}
  <tr>
    <td><a href="{{ .url }}">{{ .name }}</a></td>
    <td>{{ range .subvalues }}
      <a href="{{ .url }}">{{ .name }}</a><br/>
      {{ end }}
    </td>
  </tr>
  {{ end }}
</table>
