<table>
  <tr>
    <th style="width:40%">Project</th>
    <th style="width:60%">Contributions</th>
  </tr>
  {{ range $.Site.Data.gitlab_contributions }}
  <tr>
    <td><a href="https://gitlab.com/gitlab-org/{{ . }}"><code>{{ . }}</code></a></td>
    <td>
      <a href="https://gitlab.com/gitlab-org/{{ . }}/-/issues/?sort=updated_desc&state=all&author_username=eread&first_page_size=100">Issues</a>
      <br/>
      <a href="https://gitlab.com/gitlab-org/{{ . }}/-/merge_requests?scope=all&state=all&author_username=eread">Merge requests</a><br/>
    </td>
  </tr>
  {{ end }}
</table>
