<table>
  <thead>
    <tr>
      <th>Package</th>
      <th>Purpose</th>
    </tr>
  </thead>
  <tbody>
    {{ range $.Site.Data.sublime_text_packages }}
    <tr>
      <td>
        <a href="{{ .url }}">{{ .name }}</a>
      </td>
      <td>
        {{ .purpose }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
