<table>
  <tr>
    <th style="width:20%">Tool</th>
    <th style="width:80%">Example from the <code>eread</code> project</th>
  </tr>
  {{ range $.Site.Data.tools_experience }}
  <tr>
    <td>{{ .name }}</td>
    <td>{{ range .urls }}
      <a href="{{ . }}">{{ . }}</a><br/>
      {{ end }}
    </td>
  </tr>
  {{ end }}
</table>
